.fluxo-container {
  width: 96%;
  height: 300px; 
  display: flex;
  padding: 20px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.recharts-default-tooltip {
  border-radius: 6px;
  padding: 4px 8px !important;
  font-size: 13px;
}
.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
 stroke: #cccccc;
  opacity: 0.3;
}
.recharts-tooltip-item-list {
  display: flex;
  flex-direction: column-reverse;
}
/*mobile*/
@media (min-width: 320px) and (max-width: 480px) {
  .fluxo-container {
    height: 200px; 
    padding: 10px;
  }
  .recharts-default-tooltip {
    font-size: 11px;
    padding: 3px 5px !important; 
  }
  .recharts-tooltip-item-list {
   gap: 2px; 
  }
}