.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 16px;
  overflow-x: hidden;
}
.login-box{
    background: #ffffff;
    width:100%;
    height: 100%;
    display:flex;
    padding: 16px;
}
.login-form{ 
    display: flex;
    justify-content:flex-end; /* envia para a direita */
    align-items: center;
    background: rgb(255, 255, 255);
    height:100%;
    max-width: 3xl;
    width: 100%;
    padding-right: 40px; 
    
}
/* Arrumar responsividade */
@media (max-width: 768px) {

  .login-box {
    flex-direction: column !important;
    gap: 24px;
  }

    .login-form {
    width: 100%;
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }
}